
<div>
    <h2><span>Question</span> {{question.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span>Name</span>
                </td>
                <td>
                    <span class="form-control-static">{{question.name}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Points</span>
                </td>
                <td>
                    <span class="form-control-static">{{question.points}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Description</span>
                </td>
                <td>
                    <span class="form-control-static">{{question.description}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Type</span>
                </td>
                <td>
                    <span class="form-control-static" translate="{{'elearningApp.QuestionType.' + question.type}}">{{question.type}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>tests</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="tests.detail({id:question.testsId})">{{question.testsName}}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
