
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myAssignmentLabel">Create or edit a Assignment</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="assignment.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="assignment.name"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="assignment.description"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_deadline">Deadline</label>
            <input type="date" class="form-control" name="deadline" id="field_deadline"
                    ng-model="assignment.deadline"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_points">Points</label>
            <input type="number" class="form-control" name="points" id="field_points"
                    ng-model="assignment.points"
                    min="1" max="10" />
            <div ng-show="editForm.points.$invalid">
                <p class="help-block"
                    ng-show="editForm.points.$error.min" translate-value-min="1">
                    This field should be more than 1.
                </p>
                <p class="help-block"
                    ng-show="editForm.points.$error.max" translate-value-max="10">
                    This field cannot be more than 10.
                </p>
                <p class="help-block"
                    ng-show="editForm.points.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="field_groups">groups</label>
            <select class="form-control" id="field_groups" name="groups" ng-model="assignment.groupsId" ng-options="groups.id as groups.name for groups in groupss">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_course">course</label>
            <select class="form-control" id="field_course" name="course" ng-model="assignment.courseId" ng-options="course.id as course.name for course in courses">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
