
<div>
    <h2><span>Assignment</span> {{assignment.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span>Name</span>
                </td>
                <td>
                    <span class="form-control-static">{{assignment.name}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Description</span>
                </td>
                <td>
                    <span class="form-control-static">{{assignment.description}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Deadline</span>
                </td>
                <td>
                    <span class="form-control-static">{{assignment.deadline | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Points</span>
                </td>
                <td>
                    <span class="form-control-static">{{assignment.points}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>groups</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="groups.detail({id:assignment.groupsId})">{{assignment.groupsName}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span>course</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="course.detail({id:assignment.courseId})">{{assignment.courseName}}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
