
<div>
    <h2><span>Calendar</span> {{calendar.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span>user</span>
                </td>
                <td>
                    {{calendar.userLogin}}
                </td>
            </tr>
            <tr>
                <td>
                    <span>event</span>
                </td>
                <td>
                    <span ng-repeat="event in calendar.events">
                        <a class="form-control-static" ui-sref="event.detail({id: {{event.id}}})">{{event.name}}</a>{{$last ? '' : ', '}}
                    <span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
