
<div>
    <h2><span>UserConversationInteraction</span> {{userConversationInteraction.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span>Archived</span>
                </td>
                <td>
                    <span class="form-control-static">{{userConversationInteraction.archived}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Favorited</span>
                </td>
                <td>
                    <span class="form-control-static">{{userConversationInteraction.favorited}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>IsRead</span>
                </td>
                <td>
                    <span class="form-control-static">{{userConversationInteraction.isRead}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>user</span>
                </td>
                <td>
                    {{userConversationInteraction.userLogin}}
                </td>
            </tr>
            <tr>
                <td>
                    <span>conversation</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="conversation.detail({id:userConversationInteraction.conversationId})">{{userConversationInteraction.conversationName}}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
