
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myUserConversationInteractionLabel">Create or edit a UserConversationInteraction</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="userConversationInteraction.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_archived">Archived</label>
            <input type="checkbox" class="form-control" name="archived" id="field_archived"
                    ng-model="userConversationInteraction.archived"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_favorited">Favorited</label>
            <input type="checkbox" class="form-control" name="favorited" id="field_favorited"
                    ng-model="userConversationInteraction.favorited"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_isRead">IsRead</label>
            <input type="checkbox" class="form-control" name="isRead" id="field_isRead"
                    ng-model="userConversationInteraction.isRead"
                     />
        </div>

        <div class="form-group">
            <label for="field_user">user</label>
            <select class="form-control" id="field_user" name="user" ng-model="userConversationInteraction.userId" ng-options="user.id as user.login for user in users">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_conversation">conversation</label>
            <select class="form-control" id="field_conversation" name="conversation" ng-model="userConversationInteraction.conversationId" ng-options="conversation.id as conversation.name for conversation in conversations">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
