
<div>
    <h2><span>Comment</span> {{comment.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span>Date</span>
                </td>
                <td>
                    <span class="form-control-static">{{comment.date | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Text</span>
                </td>
                <td>
                    <span class="form-control-static">{{comment.text}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>user</span>
                </td>
                <td>
                    {{comment.userLogin}}
                </td>
            </tr>
            <tr>
                <td>
                    <span>discussion</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="discussion.detail({id:comment.discussionId})">{{comment.discussionName}}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
