
<div>
    <h2><span>Event</span> {{event.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span>Name</span>
                </td>
                <td>
                    <span class="form-control-static">{{event.name}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Deadline</span>
                </td>
                <td>
                    <span class="form-control-static">{{event.deadline | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Observations</span>
                </td>
                <td>
                    <span class="form-control-static">{{event.observations}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Type</span>
                </td>
                <td>
                    <span class="form-control-static" translate="{{'elearningApp.EventType.' + event.type}}">{{event.type}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
