
<div>
    <h2><span>Discussion</span> {{discussion.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span>Name</span>
                </td>
                <td>
                    <span class="form-control-static">{{discussion.name}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>groups</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="groups.detail({id:discussion.groupsId})">{{discussion.groupsName}}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
