
<div>
    <h2><span>TestResult</span> {{testResult.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span>Mark</span>
                </td>
                <td>
                    <span class="form-control-static">{{testResult.mark}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>user</span>
                </td>
                <td>
                    {{testResult.userLogin}}
                </td>
            </tr>
            <tr>
                <td>
                    <span>tests</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="tests.detail({id:testResult.testsId})">{{testResult.testsName}}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
