
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myPagesLabel">Create or edit a Pages</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="pages.id" readonly />
        </div>

        <div class="form-group">
            <label for="field_groups">groups</label>
            <select class="form-control" id="field_groups" name="groups" ng-model="pages.groupsId" ng-options="groups.id as groups.name for groups in groupss">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_file">file</label>
            <select class="form-control" id="field_file" multiple name="file" ng-model="pages.files" ng-options="file as file.name for file in files track by file.id"></select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
