
<div>
    <h2><span>ConversationComment</span> {{conversationComment.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span>Title</span>
                </td>
                <td>
                    <span class="form-control-static">{{conversationComment.title}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Text</span>
                </td>
                <td>
                    <span class="form-control-static">{{conversationComment.text}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>user</span>
                </td>
                <td>
                    {{conversationComment.userLogin}}
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
