
<div>
    <h2><span>Message</span> {{message.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span>Subject</span>
                </td>
                <td>
                    <span class="form-control-static">{{message.subject}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Text</span>
                </td>
                <td>
                    <span class="form-control-static">{{message.text}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>conversation</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="conversation.detail({id:message.conversationId})">{{message.conversationName}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span>userFrom</span>
                </td>
                <td>
                    {{message.userFromLogin}}
                </td>
            </tr>
            <tr>
                <td>
                    <span>userTo</span>
                </td>
                <td>
                    {{message.userToLogin}}
                </td>
            </tr>
            <tr>
                <td>
                    <span>file</span>
                </td>
                <td>
                    <span ng-repeat="file in message.files">
                        <a class="form-control-static" ui-sref="file.detail({id: {{file.id}}})">{{file.name}}</a>{{$last ? '' : ', '}}
                    <span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
