
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myMessageLabel">Create or edit a Message</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="message.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_subject">Subject</label>
            <input type="text" class="form-control" name="subject" id="field_subject"
                    ng-model="message.subject"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_text">Text</label>
            <input type="text" class="form-control" name="text" id="field_text"
                    ng-model="message.text"
                     />
        </div>

        <div class="form-group">
            <label for="field_conversation">conversation</label>
            <select class="form-control" id="field_conversation" name="conversation" ng-model="message.conversationId" ng-options="conversation.id as conversation.name for conversation in conversations">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_userFrom">userFrom</label>
            <select class="form-control" id="field_userFrom" name="userFrom" ng-model="message.userFromId" ng-options="user.id as user.login for user in users">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_userTo">userTo</label>
            <select class="form-control" id="field_userTo" name="userTo" ng-model="message.userToId" ng-options="user.id as user.login for user in users">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_file">file</label>
            <select class="form-control" id="field_file" multiple name="file" ng-model="message.files" ng-options="file as file.name for file in files track by file.id"></select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
