<div>
    <h2>Testss</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="tests.new">
                    <span class="glyphicon glyphicon-flash"></span> <span>Create a new Tests</span>
                </button>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Deadline</th>
                    <th>Type</th>
                    <th>StartingDate</th>
                    <th>course</th>
                    <th>groups</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="tests in testss track by tests.id">
                    <td><a ui-sref="tests.detail({id:tests.id})">{{tests.id}}</a></td>
                    <td>{{tests.name}}</td>
                    <td>{{tests.description}}</td>
                        <td>{{tests.deadline | date:'mediumDate'}}</td>
                    <td translate="{{'elearningApp.TestType.' + tests.type}}">{{tests.type}}</td>
                        <td>{{tests.startingDate | date:'mediumDate'}}</td>
                    <td>
                        <a ui-sref="course.detail({id:tests.courseId})">{{tests.courseName}}</a>
                    </td>
                    <td>
                        <a ui-sref="groups.detail({id:tests.groupsId})">{{tests.groupsName}}</a>
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="tests.detail({id:tests.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="tests.edit({id:tests.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="tests.delete({id:tests.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                <li ng-show="links['first'] >= 0" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
                <li ng-show="page > 0" ng-click="loadPage(links['prev'] || 0)"><a>&lt;</a></li>
                <li ng-show="page > 1" ng-click="loadPage(page - 2)"><a>{{page - 1}}</a></li>
                <li ng-show="page > 0" ng-click="loadPage(page - 1)"><a>{{page}}</a></li>
                <li class="active"><a>{{page + 1}}</a></li>
                <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 2}}</a></li>
                <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 3}}</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
                <li ng-show="links['last'] > 0" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
