
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myTestsLabel">Create or edit a Tests</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="tests.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="tests.name"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="tests.description"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_deadline">Deadline</label>
            <input type="date" class="form-control" name="deadline" id="field_deadline"
                    ng-model="tests.deadline"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_type">Type</label>
            <select class="form-control" name="type" ng-model="tests.type" id="field_type">
                <option value="TYPE1">TYPE1</option>
                <option value="TYPE2">TYPE2</option>
                <option value="TYPE3">TYPE3</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_startingDate">StartingDate</label>
            <input type="date" class="form-control" name="startingDate" id="field_startingDate"
                    ng-model="tests.startingDate"
                     />
        </div>

        <div class="form-group">
            <label for="field_course">course</label>
            <select class="form-control" id="field_course" name="course" ng-model="tests.courseId" ng-options="course.id as course.name for course in courses">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_groups">groups</label>
            <select class="form-control" id="field_groups" name="groups" ng-model="tests.groupsId" ng-options="groups.id as groups.name for groups in groupss">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
