
<div>
    <h2><span>Tests</span> {{tests.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span>Name</span>
                </td>
                <td>
                    <span class="form-control-static">{{tests.name}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Description</span>
                </td>
                <td>
                    <span class="form-control-static">{{tests.description}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Deadline</span>
                </td>
                <td>
                    <span class="form-control-static">{{tests.deadline | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Type</span>
                </td>
                <td>
                    <span class="form-control-static" translate="{{'elearningApp.TestType.' + tests.type}}">{{tests.type}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>StartingDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{tests.startingDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>course</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="course.detail({id:tests.courseId})">{{tests.courseName}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span>groups</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="groups.detail({id:tests.groupsId})">{{tests.groupsName}}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
