
<div>
    <h2><span>Conversation</span> {{conversation.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span>Name</span>
                </td>
                <td>
                    <span class="form-control-static">{{conversation.name}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Description</span>
                </td>
                <td>
                    <span class="form-control-static">{{conversation.description}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>course</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="course.detail({id:conversation.courseId})">{{conversation.courseName}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span>groups</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="groups.detail({id:conversation.groupsId})">{{conversation.groupsName}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span>conversationComment</span>
                </td>
                <td>
                    <span ng-repeat="conversationComment in conversation.conversationComments">
                        <a class="form-control-static" ui-sref="conversationComment.detail({id: {{conversationComment.id}}})">{{conversationComment.title}}</a>{{$last ? '' : ', '}}
                    <span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
