
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myConversationLabel">Create or edit a Conversation</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="conversation.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="conversation.name"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="conversation.description"
                     />
        </div>

        <div class="form-group">
            <label for="field_course">course</label>
            <select class="form-control" id="field_course" name="course" ng-model="conversation.courseId" ng-options="course.id as course.name for course in courses">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_groups">groups</label>
            <select class="form-control" id="field_groups" name="groups" ng-model="conversation.groupsId" ng-options="groups.id as groups.name for groups in groupss">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_conversationComment">conversationComment</label>
            <select class="form-control" id="field_conversationComment" multiple name="conversationComment" ng-model="conversation.conversationComments" ng-options="conversationComment as conversationComment.title for conversationComment in conversationcomments track by conversationComment.id"></select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
