
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myExternalResourceLabel">Create or edit a ExternalResource</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="externalResource.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="externalResource.name"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_type">Type</label>
            <input type="text" class="form-control" name="type" id="field_type"
                    ng-model="externalResource.type"
                     />
        </div>
        <div class="form-group" ngf-drop ngf-change="setData($file, externalResource)">
            <label class="control-label" for="field_data">Data</label>
            <div>
                <div class="help-block clearfix">
                    <span class="pull-left">{{abbreviate(externalResource.data)}} {{externalResource.dataContentType}} {{byteSize(externalResource.data)}}</span>
                    <button ng-click="externalResource.data=null;externalResource.dataContentType=null;"
                            ng-if="externalResource.data"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="file" ngf-select class="btn btn-default btn-block"
                        ngf-change="setData($file, externalResource)">
                    Add blob
                </button>
            </div>
            <input type="hidden" class="form-control" name="data" id="field_data"
                    ng-model="externalResource.data"
                     />
            <input type="hidden" class="form-control" name="dataContentType" id="field_dataContentType"
                    ng-model="externalResource.dataContentType" />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_path">Path</label>
            <input type="text" class="form-control" name="path" id="field_path"
                    ng-model="externalResource.path"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
