
<div>
    <h2><span>ExternalResource</span> {{externalResource.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span>Name</span>
                </td>
                <td>
                    <span class="form-control-static">{{externalResource.name}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Type</span>
                </td>
                <td>
                    <span class="form-control-static">{{externalResource.type}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Data</span>
                </td>
                <td>
                    <span class="form-control-static">{{externalResource.data}}</span>
                    <div>{{externalResource.dataContentType}}  {{byteSize(externalResource.data)}}</div>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Path</span>
                </td>
                <td>
                    <span class="form-control-static">{{externalResource.path}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
