<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Elearning</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css assets/styles/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.css" />
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css assets/styles/main.css -->
        <link rel="stylesheet" href="assets/styles/main.css">
        <!-- endbuild -->
    </head>
    <body ng-app="elearningApp">
        <!--[if lt IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div ng-show="{{ENV === 'dev'}}" class="development" ng-cloak=""></div>
        <div ui-view="navbar" ng-cloak=""></div>
        <div class="container">
            <div class="well" ui-view="content"></div>

            <div class="footer">
                <p translate="footer">This is your footer</p>
            </div>
        </div>

        <!-- Google Analytics: uncomment and change UA-XXXXX-X to be your site's ID.
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>-->

        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/modernizr/modernizr.js"></script>
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-aria/angular-aria.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="bower_components/angular-cache-buster/angular-cache-buster.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
        <script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="bower_components/json3/lib/json3.js"></script>
        <script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
        <script src="bower_components/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>
        <!-- endbower -->
        <!-- endbuild -->


    <!-- build:js({.tmp,src/main/webapp}) scripts/app.js -->
    <script src="scripts/app/app.js"></script>
    <script src="scripts/app/app.constants.js"></script>
    <script src="scripts/components/auth/auth.service.js"></script>
    <script src="scripts/components/auth/principal.service.js"></script>
    <script src="scripts/components/auth/authority.directive.js"></script>
    <script src="scripts/components/auth/services/account.service.js"></script>
    <script src="scripts/components/auth/services/activate.service.js"></script>
    <script src="scripts/components/auth/services/password.service.js"></script>
    <script src="scripts/components/auth/services/register.service.js"></script>
    <script src="scripts/components/form/form.directive.js"></script>
    <script src="scripts/components/form/maxbytes.directive.js"></script>
    <script src="scripts/components/form/minbytes.directive.js"></script>
    <script src="scripts/components/form/pager.directive.js"></script>
    <script src="scripts/components/form/pagination.directive.js"></script>
    <script src="scripts/components/admin/audits.service.js"></script>
    <script src="scripts/components/admin/logs.service.js"></script>
    <script src="scripts/components/admin/configuration.service.js"></script>
    <script src="scripts/components/admin/monitoring.service.js"></script>
    <script src="scripts/components/interceptor/auth.interceptor.js"></script>
    <script src="scripts/components/interceptor/errorhandler.interceptor.js"></script>
    <script src="scripts/components/interceptor/notification.interceptor.js"></script>
    <script src="scripts/components/navbar/navbar.directive.js"></script>
    <script src="scripts/components/navbar/navbar.controller.js"></script>
    <script src="scripts/components/user/user.service.js"></script>
    <script src="scripts/components/util/truncate.filter.js"></script>
    <script src="scripts/components/util/base64.service.js"></script>
    <script src="scripts/components/util/capitalize.filter.js"></script>
    <script src="scripts/components/alert/alert.service.js"></script>
    <script src="scripts/components/alert/alert.directive.js"></script>
    <script src="scripts/components/util/parse-links.service.js"></script>
    <script src="scripts/components/util/dateutil.service.js"></script>
    <script src="scripts/components/util/data-util.service.js"></script>
    <script src="scripts/app/account/account.js"></script>
    <script src="scripts/app/account/activate/activate.js"></script>
    <script src="scripts/app/account/activate/activate.controller.js"></script>
    <script src="scripts/app/account/login/login.js"></script>
    <script src="scripts/app/account/login/login.controller.js"></script>
    <script src="scripts/app/account/password/password.js"></script>
    <script src="scripts/app/account/password/password.controller.js"></script>
    <script src="scripts/app/account/password/password.directive.js"></script>
    <script src="scripts/app/account/register/register.js"></script>
    <script src="scripts/app/account/register/register.controller.js"></script>
    <script src="scripts/app/account/settings/settings.js"></script>
    <script src="scripts/app/account/settings/settings.controller.js"></script>
    <script src="scripts/app/account/reset/finish/reset.finish.controller.js"></script>
    <script src="scripts/app/account/reset/finish/reset.finish.js"></script>
    <script src="scripts/app/account/reset/request/reset.request.controller.js"></script>
    <script src="scripts/app/account/reset/request/reset.request.js"></script>
    <script src="scripts/app/admin/admin.js"></script>
    <script src="scripts/app/admin/audits/audits.js"></script>
    <script src="scripts/app/admin/audits/audits.controller.js"></script>
    <script src="scripts/app/admin/configuration/configuration.js"></script>
    <script src="scripts/app/admin/configuration/configuration.controller.js"></script>
    <script src="scripts/app/admin/docs/docs.js"></script>
    <script src="scripts/app/admin/health/health.js"></script>
    <script src="scripts/app/admin/health/health.controller.js"></script>
    <script src="scripts/app/admin/health/health.modal.controller.js"></script>
    <script src="scripts/app/admin/logs/logs.js"></script>
    <script src="scripts/app/admin/logs/logs.controller.js"></script>
    <script src="scripts/app/admin/metrics/metrics.js"></script>
    <script src="scripts/app/admin/metrics/metrics.controller.js"></script>
    <script src="scripts/app/admin/metrics/metrics.modal.controller.js"></script>
    <script src="scripts/app/admin/user-management/user-management-detail.controller.js"></script>
    <script src="scripts/app/admin/user-management/user-management-dialog.controller.js"></script>
    <script src="scripts/app/admin/user-management/user-management.controller.js"></script>
    <script src="scripts/app/admin/user-management/user-management.js"></script>
    <script src="scripts/app/entities/entity.js"></script>
    <script src="scripts/app/error/error.js"></script>
    <script src="scripts/app/main/main.js"></script>
    <script src="scripts/app/main/main.controller.js"></script>
    <script src="scripts/components/auth/provider/auth.xauth.service.js"></script>
    <script src="scripts/app/entities/calendar/calendar.js"></script>
    <script src="scripts/app/entities/calendar/calendar.controller.js"></script>
    <script src="scripts/app/entities/calendar/calendar-dialog.controller.js"></script>
    <script src="scripts/app/entities/calendar/calendar-delete-dialog.controller.js"></script>
    <script src="scripts/app/entities/calendar/calendar-detail.controller.js"></script>
    <script src="scripts/components/entities/calendar/calendar.service.js"></script>
    <script src="scripts/app/entities/groups/groups.js"></script>
    <script src="scripts/app/entities/groups/groups.controller.js"></script>
    <script src="scripts/app/entities/groups/groups-dialog.controller.js"></script>
    <script src="scripts/app/entities/groups/groups-delete-dialog.controller.js"></script>
    <script src="scripts/app/entities/groups/groups-detail.controller.js"></script>
    <script src="scripts/components/entities/groups/groups.service.js"></script>
    <script src="scripts/app/entities/file/file.js"></script>
    <script src="scripts/app/entities/file/file.controller.js"></script>
    <script src="scripts/app/entities/file/file-dialog.controller.js"></script>
    <script src="scripts/app/entities/file/file-delete-dialog.controller.js"></script>
    <script src="scripts/app/entities/file/file-detail.controller.js"></script>
    <script src="scripts/components/entities/file/file.service.js"></script>
    <script src="scripts/app/entities/page/page.js"></script>
    <script src="scripts/app/entities/page/page.controller.js"></script>
    <script src="scripts/app/entities/page/page-dialog.controller.js"></script>
    <script src="scripts/app/entities/page/page-delete-dialog.controller.js"></script>
    <script src="scripts/app/entities/page/page-detail.controller.js"></script>
    <script src="scripts/components/entities/page/page.service.js"></script>
    <script src="scripts/app/entities/announcement/announcement.js"></script>
    <script src="scripts/app/entities/announcement/announcement.controller.js"></script>
    <script src="scripts/app/entities/announcement/announcement-dialog.controller.js"></script>
    <script src="scripts/app/entities/announcement/announcement-delete-dialog.controller.js"></script>
    <script src="scripts/app/entities/announcement/announcement-detail.controller.js"></script>
    <script src="scripts/components/entities/announcement/announcement.service.js"></script>
    <script src="scripts/app/entities/discussion/discussion.js"></script>
    <script src="scripts/app/entities/discussion/discussion.controller.js"></script>
    <script src="scripts/app/entities/discussion/discussion-dialog.controller.js"></script>
    <script src="scripts/app/entities/discussion/discussion-delete-dialog.controller.js"></script>
    <script src="scripts/app/entities/discussion/discussion-detail.controller.js"></script>
    <script src="scripts/components/entities/discussion/discussion.service.js"></script>
    <script src="scripts/app/entities/comment/comment.js"></script>
    <script src="scripts/app/entities/comment/comment.controller.js"></script>
    <script src="scripts/app/entities/comment/comment-dialog.controller.js"></script>
    <script src="scripts/app/entities/comment/comment-delete-dialog.controller.js"></script>
    <script src="scripts/app/entities/comment/comment-detail.controller.js"></script>
    <script src="scripts/components/entities/comment/comment.service.js"></script>
    <script src="scripts/app/entities/pages/pages.js"></script>
    <script src="scripts/app/entities/pages/pages.controller.js"></script>
    <script src="scripts/app/entities/pages/pages-dialog.controller.js"></script>
    <script src="scripts/app/entities/pages/pages-delete-dialog.controller.js"></script>
    <script src="scripts/app/entities/pages/pages-detail.controller.js"></script>
    <script src="scripts/components/entities/pages/pages.service.js"></script>
    <script src="scripts/app/entities/teacher/teacher.js"></script>
    <script src="scripts/app/entities/teacher/teacher.controller.js"></script>
    <script src="scripts/app/entities/teacher/teacher-dialog.controller.js"></script>
    <script src="scripts/app/entities/teacher/teacher-delete-dialog.controller.js"></script>
    <script src="scripts/app/entities/teacher/teacher-detail.controller.js"></script>
    <script src="scripts/components/entities/teacher/teacher.service.js"></script>
    <script src="scripts/app/entities/course/course.js"></script>
    <script src="scripts/app/entities/course/course.controller.js"></script>
    <script src="scripts/app/entities/course/course-dialog.controller.js"></script>
    <script src="scripts/app/entities/course/course-delete-dialog.controller.js"></script>
    <script src="scripts/app/entities/course/course-detail.controller.js"></script>
    <script src="scripts/components/entities/course/course.service.js"></script>
    <script src="scripts/app/entities/tests/tests.js"></script>
    <script src="scripts/app/entities/tests/tests.controller.js"></script>
    <script src="scripts/app/entities/tests/tests-dialog.controller.js"></script>
    <script src="scripts/app/entities/tests/tests-delete-dialog.controller.js"></script>
    <script src="scripts/app/entities/tests/tests-detail.controller.js"></script>
    <script src="scripts/components/entities/tests/tests.service.js"></script>
    <script src="scripts/app/entities/question/question.js"></script>
    <script src="scripts/app/entities/question/question.controller.js"></script>
    <script src="scripts/app/entities/question/question-dialog.controller.js"></script>
    <script src="scripts/app/entities/question/question-delete-dialog.controller.js"></script>
    <script src="scripts/app/entities/question/question-detail.controller.js"></script>
    <script src="scripts/components/entities/question/question.service.js"></script>
    <script src="scripts/app/entities/testResult/testResult.js"></script>
    <script src="scripts/app/entities/testResult/testResult.controller.js"></script>
    <script src="scripts/app/entities/testResult/testResult-dialog.controller.js"></script>
    <script src="scripts/app/entities/testResult/testResult-delete-dialog.controller.js"></script>
    <script src="scripts/app/entities/testResult/testResult-detail.controller.js"></script>
    <script src="scripts/components/entities/testResult/testResult.service.js"></script>
    <script src="scripts/app/entities/conversationComment/conversationComment.js"></script>
    <script src="scripts/app/entities/conversationComment/conversationComment.controller.js"></script>
    <script src="scripts/app/entities/conversationComment/conversationComment-dialog.controller.js"></script>
    <script src="scripts/app/entities/conversationComment/conversationComment-delete-dialog.controller.js"></script>
    <script src="scripts/app/entities/conversationComment/conversationComment-detail.controller.js"></script>
    <script src="scripts/components/entities/conversationComment/conversationComment.service.js"></script>
    <script src="scripts/app/entities/conversation/conversation.js"></script>
    <script src="scripts/app/entities/conversation/conversation.controller.js"></script>
    <script src="scripts/app/entities/conversation/conversation-dialog.controller.js"></script>
    <script src="scripts/app/entities/conversation/conversation-delete-dialog.controller.js"></script>
    <script src="scripts/app/entities/conversation/conversation-detail.controller.js"></script>
    <script src="scripts/components/entities/conversation/conversation.service.js"></script>
    <script src="scripts/app/entities/userConversationInteraction/userConversationInteraction.js"></script>
    <script src="scripts/app/entities/userConversationInteraction/userConversationInteraction.controller.js"></script>
    <script src="scripts/app/entities/userConversationInteraction/userConversationInteraction-dialog.controller.js"></script>
    <script src="scripts/app/entities/userConversationInteraction/userConversationInteraction-delete-dialog.controller.js"></script>
    <script src="scripts/app/entities/userConversationInteraction/userConversationInteraction-detail.controller.js"></script>
    <script src="scripts/components/entities/userConversationInteraction/userConversationInteraction.service.js"></script>
    <script src="scripts/app/entities/assignment/assignment.js"></script>
    <script src="scripts/app/entities/assignment/assignment.controller.js"></script>
    <script src="scripts/app/entities/assignment/assignment-dialog.controller.js"></script>
    <script src="scripts/app/entities/assignment/assignment-delete-dialog.controller.js"></script>
    <script src="scripts/app/entities/assignment/assignment-detail.controller.js"></script>
    <script src="scripts/components/entities/assignment/assignment.service.js"></script>
    <script src="scripts/app/entities/externalResource/externalResource.js"></script>
    <script src="scripts/app/entities/externalResource/externalResource.controller.js"></script>
    <script src="scripts/app/entities/externalResource/externalResource-dialog.controller.js"></script>
    <script src="scripts/app/entities/externalResource/externalResource-delete-dialog.controller.js"></script>
    <script src="scripts/app/entities/externalResource/externalResource-detail.controller.js"></script>
    <script src="scripts/components/entities/externalResource/externalResource.service.js"></script>
    <script src="scripts/app/entities/message/message.js"></script>
    <script src="scripts/app/entities/message/message.controller.js"></script>
    <script src="scripts/app/entities/message/message-dialog.controller.js"></script>
    <script src="scripts/app/entities/message/message-delete-dialog.controller.js"></script>
    <script src="scripts/app/entities/message/message-detail.controller.js"></script>
    <script src="scripts/components/entities/message/message.service.js"></script>
    <!-- endbuild -->
</body>
</html>
