
<div>
    <h2><span>Announcement</span> {{announcement.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span>Title</span>
                </td>
                <td>
                    <span class="form-control-static">{{announcement.title}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Comment</span>
                </td>
                <td>
                    <span class="form-control-static">{{announcement.comment}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>file</span>
                </td>
                <td>
                    <span ng-repeat="file in announcement.files">
                        <a class="form-control-static" ui-sref="file.detail({id: {{file.id}}})">{{file.name}}</a>{{$last ? '' : ', '}}
                    <span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>groups</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="groups.detail({id:announcement.groupsId})">{{announcement.groupsName}}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
